<div class="banner">

  <div class="container allign-center">
    <h1><strong>All Lists</strong></h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>

</div>

<div class="container">
  <%= link_to "Create new List",  new_list_path, class: "btn btn-success float-end mt-1" %>
</div>
<hr>
<div class="container mt-3">

  <ul class="list-group list-group-horizontal list-group-flush">
    <% @lists.each do |l| %>
      <li class="list-group-item flex-fill">
        <div class="card" style="width: 18rem;">
          <%= link_to list_path(l) do %>
            <%= image_tag "place-holder-map.png", alt: "foto da lista", class: "card-img-top btn" %>
            <p> <%= l.name %> </p>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  
</div>
